<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            Agregar Paciente
          </h5>
        </div>
        <div class="col-sm-6 hide-on-mobile">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
            <li class="breadcrumb-item"><a routerLink="/agenda">Agenda</a></li>
            <li class="breadcrumb-item"><a routerLink="/pacientes">Pacientes</a></li>
            <li class="breadcrumb-item active">Nuevo</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">
                Formulario de registro
              </h3>
            </div>
            <div class="card-body">
                <form [formGroup]="formularioPaciente">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <small><strong> Nombre(s) * </strong></small>
                                <input type="text" class="form-control" formControlName="nombre" [ngClass]="getInputClass('nombre')">

                                <div *ngIf="formularioPaciente.controls['nombre'].invalid && formularioPaciente.controls['nombre'].dirty" class="invalid-input-message">
                                    <span *ngIf="formularioPaciente.controls['nombre'].errors.required">{{ campoRequerido }}</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <small><strong> Apellido Paterno * </strong></small>
                                <input type="text" class="form-control" formControlName="apellidop" [ngClass]="getInputClass('apellidop')">

                                <div *ngIf="formularioPaciente.controls['apellidop'].invalid && formularioPaciente.controls['apellidop'].dirty" class="invalid-input-message">
                                    <span *ngIf="formularioPaciente.controls['apellidop'].errors.required">{{ campoRequerido }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <small class="text-muted">Apellido Materno (opcional) </small>
                                <input type="text" class="form-control" formControlName="apellidom">
                                <div *ngIf="formularioPaciente.controls['apellidom'].invalid" class="invalid-input-message">
                                    <span *ngIf="formularioPaciente.controls['apellidom'].errors.invalidRegex">{{ soloLetras }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <small class="text-muted">Edad (opcional)</small>
                                <input type="text" class="form-control" formControlName="edad" maxlength="3">
                                <div *ngIf="formularioPaciente.controls['edad'].invalid" class="invalid-input-message">
                                    <span *ngIf="formularioPaciente.controls['edad'].errors">{{ soloNumeros }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <small class="text-muted">Sexo (opcional)</small>
                                <!-- <input type="text" class="form-control" formControlName="sexo"> -->
                                <select class="form-select" formControlName="sexo">
                                    <option selected disabled [value]="0">Selecciona una opción:</option>
                                    <option *ngFor="let item of catSexo" [value]="item.id">{{ item.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <small><strong>Teléfono * </strong></small>
                                <input type="text" class="form-control" formControlName="telefono" [ngClass]="getInputClass('telefono')" placeholder="10 dígitos" maxlength="10">
                                <div *ngIf="formularioPaciente.controls['telefono'].invalid && formularioPaciente.controls['telefono'].dirty" class="invalid-input-message">
                                    <div>
                                        <span *ngIf="formularioPaciente.controls['telefono'].errors.required">{{ campoRequerido }}</span> 
                                    </div>
                                    <div>
                                        <span *ngIf="formularioPaciente.controls['telefono'].errors.pattern && !formularioPaciente.controls['telefono'].errors.required">{{ soloNumeros }}</span> 
                                    </div>
                                    <div>
                                        <span *ngIf="formularioPaciente.controls['telefono'].errors.minlength">{{ telefonoLongitud }}</span> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <small class="text-muted">Correo (opcional)</small>
                                <input type="email" class="form-control" formControlName="correo" [ngClass]="getInputClass('correo')" placeholder="correo@ejemplo.com">
                                <div *ngIf="formularioPaciente.controls['correo'].invalid && formularioPaciente.controls['correo'].dirty" class="invalid-input-message">
                                    <!-- <span *ngIf="formularioPaciente.controls['correo'].errors.email">{{ correoValido }}</span> -->
                                    <span *ngIf="formularioPaciente.controls['correo'].hasError('emailInvalido')">{{ correoValido }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <small class="text-muted">Dirección (opcional)</small>
                                <textarea class="form-control" formControlName="direccion" rows="2" maxlength="130"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr/> 
                    <div class="d-flex mt-2">
                        <div class="ml-auto">
                            <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
                        </div>
                    </div>

                    <div class="d-flex mt-2 ">
                        <div>
                        </div>
                        <div class="ml-auto">
                           <button type="submit" class="btn btn-primary btn-block" (click)="crearPaciente()" [disabled]="formularioPaciente.invalid || isDisabled">Guardar</button>
                        </div>
                    </div>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 

<ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>
