.nav-link.active {
    background-color: #f9f9f9;
    font-weight: 600;
    color: #007bff
}

.nav-link {
    color: #565d65
}



.accordion-button{
    background: #007bff !important;
}

.accordion-button:not(.collapsed) {
    color: rgb(255, 255, 255) !important;
    background-color: white;
}

.collapsed{
    background: #007bff !important;
}

.my-color{
    color: white !important;
}
