<!-- Paciente Detalle  diagnostico-tratamiento-pago -->

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            {{ tituloPagina }}
          </h5>
        </div>
        <div class="col-sm-6 hide-on-mobile">
          <ol class="breadcrumb float-sm-right">
            <!-- <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
            <li class="breadcrumb-item"><a routerLink="/agenda">Agenda</a></li> -->
            <li class="breadcrumb-item"><a routerLink="/pacientes">Pacientes</a></li>
            <li class="breadcrumb-item active">Diagnóstico</li>
            <li class="breadcrumb-item active">Tratamiento</li>
          </ol>
        </div>
      </div>
    </div>
</section>


<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
      
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-historia" data-toggle="pill" href="#tab-historia"><i class="fas fa-question-circle"></i> Historia clínica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-diagnostico" data-toggle="pill" href="#tab-diagnostico"><i class="fas fa-clipboard-list"></i> Diagnóstico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-tratamiento" data-toggle="pill" href="#tab-tratamiento"><i class="fas fa-tooth"></i> Tratamiento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-seguimiento" data-toggle="pill" href="#tab-seguimiento"><i class="fas fa-tasks"></i> Seguimiento</a>
              </li>
            </ul>
            <div class="card-tools" style="margin-top: -35px;">
              <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div class="tab-pane fade show active" id="tab-historia">
      
                <form [formGroup]="formularioHistoria">
                  <h5 class="text-primary">Historia dental</h5>
                  <div class="form-group mt-3">
                    <span>1.- ¿Cuándo fue su última visita al dentista y qué se realizó en esa consulta?</span>
                    <input type="text" class="form-control" formControlName="ultima_visita_dentista">
                  </div>
                  <div class="form-group">
                    <span>2.- ¿Ha experimentado problemas dentales en el pasado?, Si/No, ¿Cuáles?</span>
                    <input type="text" class="form-control" formControlName="problemas_dentales_pasados">
                  </div>
                  <div class="form-group">
                    <span>3.- ¿Ha recibido algún tratamiento dental previo?, Si/No, ¿Cuál y cuándo fue?</span>
                    <input type="text" class="form-control" formControlName="tratamientos_previos_cuando">
                  </div>
                  <div class="form-group">
                    <span>4.- ¿Experimenta algún dolor o sensibilidad en sus dientes o encías actualmente?</span>
                    <input type="text" class="form-control" formControlName="dolor_sensibilidad">
                  </div>
                  
                  <hr>
                  <h5 class="text-primary">Condición médica</h5>
        
                  <div class="form-group mt-3">
                    <span>1.- ¿Tiene alguna condición médica que pueda afectar su salud bucal?</span>
                    <input type="text" class="form-control" formControlName="condicion_medica_actual">
                  </div>
                  <div class="form-group">
                    <span>2.- ¿Está tomando algún medicamento actualmente?, Si/No, ¿Alguno de estos puede influir en su salud bucal?</span>
                    <input type="text" class="form-control" formControlName="medicamentos_actuales">
                  </div>
                  <div class="form-group">
                    <span>3.- ¿Tiene alguna alergia conocida?, Si/No, ¿Alguna de ellas está relacionada con materiales dentales?</span>
                    <input type="text" class="form-control" formControlName="alergias_conocidas">
                  </div>
                  <div class="form-group">
                    <span>4.- ¿Ha tenido alguna cirugía o ha sufrido de alguna enfermedad grave en el pasado que pueda afectar su tratamiento dental?</span>
                    <input type="text" class="form-control" formControlName="cirugias_enfermedades_graves">
                  </div>
        
                  <hr>
                  <h5 class="text-primary">Hábitos de salud dental</h5>
        
                  <div class="form-group mt-3">
                    <span>1.- ¿Con qué frecuencia cepilla sus dientes?</span>
                    <input type="text" class="form-control" formControlName="frecuencia_cepillado">
                  </div>
                  <div class="form-group">
                    <span>2.- ¿Utiliza hilo dental regularmente como parte de su rutina de higiene bucal?</span>
                    <input type="text" class="form-control" formControlName="uso_hilo_dental">
                  </div>
                  <div class="form-group">
                    <span>3.- ¿Ha tenido alguna cirugía o ha sufrido de alguna enfermedad grave en el pasado que pueda afectar su tratamiento dental?</span>
                    <input type="text" class="form-control" formControlName="uso_productos_especializados">
                  </div>
                  <div class="form-group">
                    <span>4.- ¿Fuma tabaco o utiliza productos de tabaco?, Si/No, ¿Con qué frecuencia?</span>
                    <input type="text" class="form-control" formControlName="tabaco_frecuencia">
                  </div>
                  <div class="form-group">
                    <span>5.- ¿Tiene algún hábito alimenticio o de consumo de bebidas que pueda afectar su salud bucal?</span>
                    <input type="text" class="form-control" formControlName="habito_alimenticio">
                  </div>
                  
                  <hr>
                  <div class="card-header p-0 border-bottom-0">
    
                    <small *ngIf="mostrar_creacion" class="text-muted"><strong>Creado por:</strong> {{ nombre_usuario_creador }}</small>
                    <small *ngIf="mostrar_creacion" class="text-muted">| <strong> Fecha creacion:</strong> {{ fecha_creacion }}</small> <br>
                    <small *ngIf="mostrar_actualizacion" class="text-muted"><strong>Actualizado por:</strong> {{ nombre_usuario_actualizo }}</small>
                    <small *ngIf="mostrar_actualizacion" class="text-muted">| <strong>Última actualización:</strong> {{ fecha_actualizacion }}</small>
  
                    <div class="card-tools">
                      <button *ngIf="botonActualizar" type="button" class="btn btn-primary" (click)="actualizarHistoria()">
                        <i class="fas fa-save"></i> Actualizar
                      </button>
                      <button *ngIf="botonGuardar" type="button" class="btn btn-primary" (click)="guardarHistoria()">
                        <i class="fas fa-save"></i> Guardar
                      </button>
                    </div>
                  </div>
        
                </form>
      
      
              </div>
              <div class="tab-pane fade" id="tab-diagnostico">
                
                <div class="accordion">
                  <div class="card">
 
                        <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseDiagnostico" >
                          <span class="text-primary">+ Nuevo diagnóstico</span> 
                        </button>
                
                    <div id="collapseDiagnostico" class="collapse">
                      <div class="card-body">

                        <!-- Diagnóstico -->
                        <form>
                          <div class="mb-3">
                              <label for="descripcionProblema" class="form-label">Descripción del problema</label>
                              <textarea class="form-control" id="descripcionProblema" rows="3"></textarea>
                          </div>
                          <div class="mb-3">
                              <label for="fechaDiagnostico" class="form-label">Fecha del diagnóstico</label>
                              <input type="date" class="form-control" id="fechaDiagnostico">
                          </div>
                          <div class="mb-3">
                              <label for="codigoDiagnostico" class="form-label">Código de diagnóstico (CIE-10)</label>
                              <input type="text" class="form-control" id="codigoDiagnostico">
                          </div>
                          <div class="mb-3">
                              <label for="fileInput" class="form-label">Subir archivos de evidencia</label>
                              <input class="form-control" type="file" id="fileInput" multiple>
                          </div>

                          <div class="card-header p-0 border-bottom-0">
                            <div class="card-tools">
                              <button type="button" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                              </button>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="tab-pane fade" id="tab-tratamiento">
                
                <div class="accordion">
                  <div class="card">
   
                        <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseTratamiento" >
                          <span class="text-primary">+ Nuevo tratamiento</span>
                        </button>
 
                    <div id="collapseTratamiento" class="collapse">
                      <div class="card-body">

                        <!-- Plan de tratamiento -->
                        <form>
                          <div class="mb-3">
                            <label for="tratamientoPropuesto" class="form-label">Tratamiento propuesto</label>
                            <textarea class="form-control" id="tratamientoPropuesto" rows="3"></textarea>
                          </div>
                          <div class="mb-3">
                              <label for="medicamentos" class="form-label">Medicamentos prescritos</label>
                              <input type="text" class="form-control" id="medicamentos">
                          </div>
                          <div class="mb-3">
                              <label for="costoEstimado" class="form-label">Costo estimado</label>
                              <input type="number" class="form-control" id="costoEstimado">
                          </div>

                          <div class="card-header p-0 border-bottom-0">
                            <div class="card-tools">
                              <button type="button" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="tab-pane fade" id="tab-seguimiento">
                
                <div class="accordion">
                  <div class="card">

                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseSeguimiento" >
                          <span class="">+ Añadir seguimiento</span>
                        </button>
                
                    <div id="collapseSeguimiento" class="collapse">
                      <div class="card-body">

                        <!-- Plan de seguimiento -->
                        <form>
                          <div class="mb-3">
                            <label for="proximaCita" class="form-label">Próxima cita</label>
                            <input type="date" class="form-control" id="proximaCita">
                          </div>
                          <div class="mb-3">
                              <label for="notasSeguimiento" class="form-label">Notas de seguimiento</label>
                              <textarea class="form-control" id="notasSeguimiento" rows="3"></textarea>
                          </div>
                          <div class="card-header p-0 border-bottom-0">
                            <div class="card-tools">
                              <button type="button" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                              </button>
                            </div>
                          </div>
                        </form>


                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
