<div class="container mt-4">

    <div class="row">
        
        <div class="col-sm">
            <div *ngIf="!usuario; else content_usuario">
                <label>Cargando información...</label>
            </div>
            <ng-template #content_usuario>
                <div class="card">
                    <div class="card-header bg-primary text-white"> <strong>Información de usuario </strong> </div>
                    <div class="card-body bg-light" >
        
                        <div class="form-group">
                            <small class="form-text text-muted">Correo</small>
                            <strong class="text-primary">{{ usuario.correo }}</strong>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Nombre</small>
                            <label>{{ usuario.desc_titulo }} {{ usuario.nombre }} {{ usuario.apellidop }} {{ usuario.apellidom }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Especialidad</small>
                            <label>{{ usuario.desc_especialidad }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Teléfono</small>
                            <label>{{ usuario.telefono }}</label>
                        </div> 
                        
                    </div>
                    <div class="card-footer text-right bg-white">
                        <a> <small class="text-primary cursor-pointer mr-3" (click)="selectedIdUser(usuario.id)">Más detalle...</small> </a>
                    </div> 
                </div>      
            </ng-template>
        </div>
        <div class="col-sm">
            <div *ngIf="!centro; else content_centro" class="text-center">
                <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content)"
                        placement="bottom" ngbTooltip="Registra tu clínica dental para gestionar usuarios, citas, y más...">
                        Registrar clínica dental 
                </button>
            </div>
            <ng-template #content_centro>
                
                <div class="card">
                    <div class="card-header bg-primary text-white"> <strong>Información del centro dental </strong> </div>
                    <div class="card-body" >
                        <div class="form-group">
                            <small class="form-text text-muted">Nombre del centro / consultorio</small>
                            <strong class="text-primary">{{ centro.nombre }}</strong>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Teléfono</small>
                            <label>{{ centro.telefono }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Correo de contacto</small>
                            <label>{{ centro.correo }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Dirección</small>
                            <label>{{ centro.direccion }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Fecha y hora de creación</small>
                            <label>{{ centro.fecha_creacion }}</label>
                        </div> 
                    </div>
                    <div class="card-footer text-right bg-white" >
                        <a> <small class="text-primary cursor-pointer mr-3" (click)="selectedIdCentro(centro.id)"> Editar...</small> </a>
                        <a> <small class="text-danger cursor-pointer" (click)="deleteCentro(centro.id, centro.nombre)"> Eliminar</small> </a>
                    </div>
                </div> 
                     
            </ng-template>
        </div>

        <div class="col-sm">
            <img src="https://res.cloudinary.com/dnblt4j16/image/upload/v1677808769/dentalapp/images/dentalapp-01-example_vcuf3h.png" alt="..." class="img-thumbnail">
        </div>

      </div>

  <!-- Nuevo Modal Crear Usuario -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Datos del consultorio</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <app-centro-form></app-centro-form>

    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-light" (click)="limpiarForm()">Limpiar</button> -->
      <button type="button" class="btn btn-light" (click)="c('Cerrar')">Cerrar</button>
    </div>
  </ng-template>

</div>
