<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>Mi cuenta</h5>
        </div>
        <div class="col-sm-6 hide-on-mobile">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
            <li class="breadcrumb-item"><a routerLink="/agenda">Agenda</a></li>
            <li class="breadcrumb-item active">Mi cuenta</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container">

      <div class="row">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <i class="fas fa-user size"></i>
            </div>

            <h3 class="profile-username text-center">{{ usuario.desc_titulo }} {{ nombreCompletoUsuario }}</h3>
            <p class="text-muted text-center">{{ usuario.desc_rol }}</p>
            <div class="text-muted text-center" *ngIf="existeAccesoAnterior"><small> Mi acceso anterior: {{ accesoAnterior }}</small></div>
            
          </div>
        </div>
      </div>

      <app-usuario-detalle></app-usuario-detalle>
      
      <div class="row">

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Mi clínica dental</h3>
            </div><!-- /.card-header -->
            <div class="card-body">

                <strong class="text-muted"><i class="fas fa-tooth"></i> Nombre: </strong>
                <span class="text-primary"> {{ centro.nombre }}</span>
                <hr>
                <strong class="text-muted"><i class="fas fa-phone"></i> Teléfono: </strong>
                <span class="text-primary"> {{ centro.telefono }}</span>
                <hr>
                <strong class="text-muted"><i class="fas fa-map-marker-alt mr-1"></i> Dirección: </strong>
                <span class="text-primary"> {{ centro.direccion }}</span>
                <hr>
                <strong class="text-muted"><i class="fas fa-envelope"></i> Correo: </strong>
                <span  class="text-primary"> {{ centro.correo }}</span >
                <hr>
                <!-- <strong><i class="fas fa-calendar"></i> Creado el: </strong>
                <span class="text-primary"> {{ centro.fecha_creacion }}</span> -->

                <div class="row mt-2">
                  <div class="col-sm">
                      <small class="text-muted">Creado por {{ nombre_usuario_creador }} el {{ fecha_creacion }}</small>
                  </div>
                </div>
                <div class="d-flex">
                    <div *ngIf="mostrar_actualizacion">
                        <small class="text-muted">Actualizado por {{ nombre_usuario_actualizo }} el {{ fecha_actualizacion }}</small>
                    </div>
                    <div class="ml-auto" *ngIf="mostrarOpciones">
                        <button class="btn btn-outline-secondary" (click)="selectedIdCentro(centro.id)" style="margin-top: -26px;"> 
                            <i class="nav-icon fas fa-edit"></i> Editar
                        </button>
                    </div>
                </div>

            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Plan</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b class="text-primary">Plan</b> <a class="float-right">{{ centro.desc_plan }}</a>
                </li>
              </ul>

              <a> <small class="text-danger cursor-pointer" (click)="deleteCentroCuenta(centro.id, centro.nombre)"
                  ngbTooltip="Eliminar mi cuenta y toda la información de mi consultorio"> Eliminar</small> </a>

            </div>
          </div>
        </div> 

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><i class="fas fa-user-shield"></i> Seguridad</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b class="text-primary"><i class="fas fa-mobile"></i> Doble Factor de Autenticación (2FA)</b> Desactivada - <a class="float-right"> <button class="btn btn-success" (click)="activar2FA()">Activar</button> </a>
                  <hr>
                  <div *ngIf="existe2fa">
                    
                    <div *ngIf="qrCodeUrl">
                      <h4>Escanea el siguiente código QR</h4>
                      <img [src]="qrCodeUrl" alt="Código QR" />
                    </div>
                    <div *ngIf="!qrCodeUrl">
                      <p>Generando el código QR...</p>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> 
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>