<div class="container mt-4">

    <div class="row">
        
        <div class="col-sm">
            <div *ngIf="!usuario; else content_usuario">
                <h5>Cargando datos de usuario...</h5>
            </div>
            <ng-template #content_usuario>
                <div class="card">
                    <div class="card-header"> <strong>Información de usuario </strong> </div>
                    <div class="card-body" >
        
                        <div class="form-group">
                            <small class="form-text text-muted">Correo</small>
                            <label class="text-primary">{{ usuario.correo }}</label>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Rol</small>
                            <label>{{ usuario.rol }}</label>
                        </div> 
                        <div class="form-group">
                            <small class="form-text text-muted">Fecha y hora de creación</small>
                            <label>{{ usuario.fecha_creacion }}</label>
                        </div> 
                    </div>
                </div>      
            </ng-template>
        </div>
        <div class="col-sm">
            <div *ngIf="!centro; else content_centro">
                <label>Sin información del centro dental</label>
            </div>
            <ng-template #content_centro>
                <div *ngIf="idCentro==0; else datos_centro" class="text-center">
                    <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/centro-form">Registra tu centro dental</button>
                </div>
                <ng-template #datos_centro>

                    <div class="card">
                        <div class="card-header"> <strong>Información del centro dental </strong> </div>
                        <div class="card-body" >
                            <div class="form-group">
                                <small class="form-text text-muted">Nombre del centro / consultorio</small>
                                <label class="text-primary">{{ centro.nombre }}</label>
                            </div>
                            <div class="form-group">
                                <small class="form-text text-muted">Teléfono</small>
                                <label>{{ centro.telefono }}</label>
                            </div> 
                            <div class="form-group">
                                <small class="form-text text-muted">Correo de contacto</small>
                                <label>{{ centro.correo }}</label>
                            </div> 
                            <div class="form-group">
                                <small class="form-text text-muted">Dirección</small>
                                <label>{{ centro.direccion }}</label>
                            </div> 
                            <div class="form-group">
                                <small class="form-text text-muted">Fecha y hora de creación</small>
                                <label>{{ centro.fecha_creacion }}</label>
                            </div> 
                        </div>
                    </div> 
                </ng-template>
                     
            </ng-template>
        </div>

        <div class="col-sm">
            <img src="https://static.vecteezy.com/system/resources/previews/011/874/761/original/dental-care-logo-design-illustration-dental-logo-orthodontic-logo-vector.jpg" alt="..." class="img-thumbnail">
        </div>

      </div>

</div>
