<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-3">

            <br>
            <h5 class="mt-3">
                Cambio de contraseña
            </h5>

            <br>

            <!-- <small>Contraseña actual</small>
            <div class="input-group">
              <input type="{{ passwordType }}" class="form-control" [(ngModel)]="llave" readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                  <fa-icon [icon]="faEye" *ngIf="passwordType === 'password'"></fa-icon>
                  <fa-icon [icon]="faEyeSlash" *ngIf="passwordType === 'text'"></fa-icon>
                </button>
              </div>
            </div> -->
                
            <form [formGroup]="formPassword" class="form-group mt-3" >
                
                <div class="form-group">
                  <span>Nueva Contraseña</span>
                  <input type="password" class="form-control" formControlName="nuevoPassword1">
                  <div *ngIf="formPassword.controls['nuevoPassword1'].invalid && formPassword.controls['nuevoPassword1'].dirty" class="invalid-input-message">
                    <span *ngIf="formPassword.controls['nuevoPassword1'].errors.required">{{ campoRequerido }} </span> <br>
                    <span *ngIf="formPassword.controls['nuevoPassword1'].hasError('passwordInvalido')">{{ contrasenaInvalida }} </span><br>
                    <span *ngIf="formPassword.controls['nuevoPassword1'].errors.minlength"> {{ contrasenaLongitud }} </span> 
                  </div>                  
                </div>   
    
                <div class="form-group">
                  <span>Confirmar Contraseña</span>
                  <input type="password" class="form-control" formControlName="nuevoPassword2" >
                  <div *ngIf="formPassword.controls['nuevoPassword2'].invalid && formPassword.controls['nuevoPassword2'].dirty" class="invalid-input-message">
                    <span *ngIf="formPassword.controls['nuevoPassword2'].errors.required">{{ contrasenaConfirmacion }}</span>
                  </div>
                </div>

                <div *ngIf="formPassword.controls['nuevoPassword2'].errors?.mismatch" class="invalid-input-message">{{ contrasenasNoCoinciden }}</div>

                <button class="btn btn-primary btn-block mt-3" [disabled]="formPassword.invalid" (click)="updateUsuarioLlave(formPassword)">Actualizar</button>

            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>

    
</div>  