<!--
<div class="col-lg-3 mx-auto text-center" style="margin-top: 80px;">

    <div class="card">

        <div class="card-header bg-primary text-white"><strong>Registro de Usuarios </strong></div>
        <div class="card-body"> -->
            
            <form [formGroup]="formularioUsuario">
     
                <div class="form-group">
                    <small class="text-muted">Correo</small>
                    <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese su correo electrónico">
                    <div *ngIf="formularioUsuario.controls['correo'].invalid && formularioUsuario.controls['correo'].dirty" class="alert alert-danger" role="alert">
                      <span *ngIf="formularioUsuario.controls['correo'].errors.required">El correo es requerido</span>
                        <span *ngIf="formularioUsuario.controls['correo'].errors.email">El correo no es válido</span>
                    </div>
                </div>
                <div class="form-group">
                    <small class="text-muted">Contraseña</small>
                    <input type="password" class="form-control" formControlName="llave" placeholder="Ingrese su contraseña">
                    <div *ngIf="formularioUsuario.controls['llave'].invalid && formularioUsuario.controls['llave'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioUsuario.controls['llave'].errors.required">La contraseña es requerida</span> 
                    </div>
                </div>
                <div class="form-group">
                    <small class="text-muted">Rol</small>
                    <select class="form-control" formControlName="rol">
                        <optgroup label="Selecciona una opción:"></optgroup>
                        <option value="admin">Administrador</option>
                        <option value="asistente">Asistente</option>
                        <option value="recepcionista">Recepcionista</option>
                        <option value="cajero">cajero</option>
                        <option value="invitado">Invitado</option>
                      </select>
                    <!-- <select class="form-control" formControlName="rol">
                        <option value="">Selecciona una opción</option>
                        <option>admin</option>
                        <option>asistente</option>
                        <option>recepcionista</option>
                        <option>cajero</option>
                        <option>invitado</option>
                    </select> -->
                    <div *ngIf="formularioUsuario.controls['rol'].invalid && formularioUsuario.controls['rol'].dirty" class="alert alert-danger" role="alert">
                      <span *ngIf="formularioUsuario.controls['rol'].errors.required">El rol es requerido</span>
                    </div>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block" (click)="crearUsuario()" [disabled]="formularioUsuario.invalid" >Agregar</button>
                <button type="button" class="btn btn-outline-secondary mt-3" (click)="limpiarForm()">Limpiar campos</button>
            </form>
<!-- 
        </div>

    </div>
</div> -->
