.font_titulo {
  font-family: 'Tangerine', serif !important;
  font-size: 45px !important;
  margin-top: -20px !important;
}

.change-pass{
  /*position: absolute;*/
  width: 100%;
  /*margin-top: -55px;*/
  z-index: 1;
}

.prueba-terminada{
  /*position: absolute;*/
  width: 100%;
  /*margin-top: -30px;*/
  z-index: 1;
  font-size: 14px !important;
}

/***********************/

@media only screen and (max-width: 600px) {
	.main-header {
	  display: none;
	}
}