<div class="col-lg-3 mx-auto text-center" style="margin-top: 80px;">

    <div class="card">

        <div class="card-header bg-primary text-white"><strong>Datos del centro o consultorio dental</strong></div>
        <div class="card-body">

            <form (submit)="crearCentro()">
        
                <div class="form-group">
                    <small class="form-text text-muted">Nombre de tu centro o consultorio dental</small>
                    <input type="text" [(ngModel)]="centro.nombre" class="form-control" name="nombre" placeholder="Ej: Centro Dental de México" maxlength="40">
                </div>
                <div class="form-group">
                    <small class="form-text text-muted">Teléfono de contacto</small>
                    <input type="text" [(ngModel)]="centro.telefono" class="form-control" name="telefono" placeholder="10 dígitos" maxlength="10">
                </div>
                <div class="form-group">
                    <small class="form-text text-muted">Correo de contacto</small>
                    <input type="email" [(ngModel)]="centro.correo" class="form-control" name="correo" placeholder="tu_centro_dental@correo.com.mx" maxlength="30">
                </div>
                <div class="form-group">
                    <small class="form-text text-muted">Dirección o Domicilio</small>
                    <textarea [(ngModel)]="centro.direccion" name="direccion" class="form-control" rows="2" maxlength="130"></textarea>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block">Agregar Centro</button>
            </form>

        </div>

    </div>
</div>
