  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 hide-on-mobile">
    <div #medidor style="height: 30px;"></div>

    <!-- Brand Logo -->
    <div class="brand-link d-flex my-bg">
      <!-- <img src="../../../assets/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <!-- <span class="brand-text font-weight-light">Dental App</span> -->
      <div class="text-right">
        <!-- <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a> -->
        <!-- <a class="nav-link text-info" data-widget="pushmenu" href="#" role="button"><i class="fas fa-arrow-left"></i></a> -->
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel d-flex mt-2 mb-2">

        <ul id="accordion2" class="accordion2">

          <li>
            <div class="link"><i class="fas fa-user colorIconUser"></i><span class="noneBlock">{{ nombreUsuario }}</span><i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li><a routerLink="/perfil"><i class="fas fa-user-circle"></i><span class="noneBlock">Mi perfil</span></a></li>
              <li (click)="salir()" class="cursor-pointer"><a><i class="fas fa-sign-out-alt colorIconLogout"></i><span class="noneBlock">Salir</span></a></li>
            </ul>
          </li>
        </ul>

        <!-- <div class="row row-width">
          <div class="col-10 text-center mt-2">
            <a routerLink="/perfil" data-bs-toggle="tooltip" data-bs-placement="right" title="Ver mi perfil">{{ nombreUsuario }} </a>  
          </div>
          
          <div class="col-2">
            <div class="info">
              <div class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="right" title="Cerrar sesión" (click)="salir()">
                <i class="fas fa-sign-out-alt" style="padding: 5px;"></i>
              </div>
            </div>
          </div>
        </div> -->

      </div>

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav flex-column">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <ul id="accordion" class="accordion">

                <li *ngIf="mostrarClinicas">
                  <div class="link"><i class="fas fa-building"></i><div> <span class="noneBlock">Clínicas</span></div><i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <!-- <li><button routerLink="/centros"><i class="fas fa-list"></i>Ver clínicas</button></li> -->
                    <li><a routerLink="/centros"><i class="fas fa-list"></i> <span class="noneBlock">Ver clínicas</span></a></li>
                    <li><a routerLink="/centro-form"><i class="fas fa-plus"></i> <span class="noneBlock">Agregar clínica</span></a></li>
                  </ul>
                </li>

                
                <li *ngIf="mostrarUsuarios">
                  <!-- <div class="link"><i class="fas fa-user-lock"></i><span #spanUsuarios>Gestionar usuarios</span><i class="fa fa-chevron-down"></i></div> -->
                  <div class="link"><i class="fas fa-user-lock"></i> <span class="noneBlock">Gestionar usuarios </span><i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a routerLink="/usuarios"><i class="fas fa-users"></i> <span class="noneBlock">Ver usuarios</span> </a></li>
                    <li>
                      <a routerLink="/usuario-form"><i class="fas fa-user-plus nav-icon"></i> <span class="noneBlock">Agregar usuario</span> </a>
                    </li>
                  </ul>
                </li>
                

                <li class="default open">
                  <div class="link"> <i class="fas fa-clock "></i> <span class="noneBlock">Citas</span> <i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <!-- <li><a routerLink="/agenda"><i class="far fa-calendar-alt"></i>Calendario</a></li> -->
                    <li><a routerLink="/calendario"><i class="far fa-calendar-alt"></i> <span class="noneBlock">Calendario</span> </a></li>
                    <li><a routerLink="/citas"><i class="fas fa-list-alt"></i> <span class="noneBlock">Agenda</span></a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fas fa-user"></i> <span class="noneBlock"> Pacientes </span> <i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a routerLink="/pacientes"><i class="fas fa-users"></i><span class="noneBlock">Ver pacientes</span></a></li>
                    <li><a routerLink="/paciente-form"><i class="fas fa-user-plus nav-icon"></i> <span class="noneBlock">Agregar Paciente</span></a></li>
                  </ul>
                </li>
                <li><div class="link"><i class="fas fa-user-md"></i><span class="noneBlock">Médicos</span><i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a routerLink="/medicos"><i class="fas fa-users"></i><span class="noneBlock">Ver médicos</span></a></li>
                    <!-- <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Other</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Other</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Other</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Other</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Other</a></li> -->
                  </ul>
                </li>
              </ul>






















        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
