.full-height {
    background: #00c4ff;
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

.sin-borde-login{
    border: 0 !important;
    background: #fff !important;
    border-radius: 1px !important;
    color: #007eff !important;
}