<div class="fondo full-height" >

<div class="col-lg-3 mx-auto text-center pt-5">

    <div class="card my-card">

        <div class="card-header bg-primary text-white"><strong>Iniciar Sesion</strong></div>
        <div class="card-body">

            <form [formGroup]="formularioLogin">
     
                <div class="form-group">
                    <small class="text-muted">Correo</small>
                    <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese su correo electrónico">
                    <div *ngIf="formularioLogin.controls['correo'].invalid && formularioLogin.controls['correo'].dirty" class="alert alert-danger my-alert" role="alert">
                      <span *ngIf="formularioLogin.controls['correo'].errors.required">El correo es requerido</span>
                        <span *ngIf="formularioLogin.controls['correo'].errors.email">Ingresa un correo válido</span>
                    </div>
                </div>
                <div class="form-group">
                    <small class="text-muted">Contraseña</small>
                    <input type="password" class="form-control" formControlName="llave" placeholder="Ingrese su contraseña">
                    <div *ngIf="formularioLogin.controls['llave'].invalid && formularioLogin.controls['llave'].dirty" class="alert alert-danger my-alert" role="alert">
                        <span *ngIf="formularioLogin.controls['llave'].errors.required">La contraseña es requerida</span> 
                    </div>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block" (click)="login()" [disabled]="formularioLogin.invalid" >Entrar</button>
            </form>

            <div *ngIf="mostrarError" class="alert alert-warning mt-5" role="alert">
                <label>{{ mensajeError }} </label>
            </div>

        </div>

    </div>
</div>

<ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

</div>