<div class="full-height" >

<div class="col-lg-3 mx-auto text-center pt-5">

    <div class="">
        <div>
            <img class="my-img" src="../../../assets/images/diente.png">
        </div>

        <div class="card-header mt-3"><h4><strong>Bienvenido</strong></h4></div>
        <div class="card-body">

            <form [formGroup]="formularioLogin">
     
                <div class="form-group">
                    <span class="text-muted ">Correo</span>
                    <input type="email" class="form-control sin-borde-login" formControlName="correo" placeholder="Ingrese su correo electrónico">
                    <div *ngIf="formularioLogin.controls['correo'].invalid && formularioLogin.controls['correo'].dirty" class="invalid-input-message">
                      <span *ngIf="formularioLogin.controls['correo'].errors.required">{{ campoRequerido }}</span>
                        <!-- <span *ngIf="formularioLogin.controls['correo'].errors.email">{{ correoValido }}</span> -->
                        <span *ngIf="formularioLogin.controls['correo'].hasError('emailInvalido')">{{ correoValido }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <span class="text-muted ">Contraseña</span>
                    <input type="password" class="form-control sin-borde-login" formControlName="llave" placeholder="Ingrese su contraseña">
                    <div *ngIf="formularioLogin.controls['llave'].invalid && formularioLogin.controls['llave'].dirty" class="invalid-input-message">
                        <span *ngIf="formularioLogin.controls['llave'].errors.required">{{ campoRequerido }}</span> 
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-block" style="height: 52px;" (click)="login()" [disabled]="formularioLogin.invalid" >Continuar</button>
            </form>

            <div *ngIf="mostrarError" class="alert alert-warning mt-5" role="alert">
                <label>{{ mensajeError }} </label>
            </div>

        </div>

    </div>
</div>

<!-- <ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true" style="z-index: 5000;"><p style="color: white" > Cargando... </p></ngx-spinner> -->
<ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>
  
</div>