<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>
          Usuarios
        </h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <button class="btn btn-outline-primary btn-sm" (click)="irUsuarioForm()">
                <i class="fas fa-plus"></i> Agregar Usuario </button>
            </h3>
          </div>
          <div class="card-body">

            <div *ngIf="existeCentro; else ver_mensaje" class="text-center mt-2">
            
              <div *ngIf="existenUsuarios">
                <table class="table table-responsive table-hover table-striped table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <!-- <th class="col-2">ID</th> -->
                      <th class="col-1">Título</th>
                      <th class="col-2">Nombre</th>
                      <th class="col-1">Correo</th>
                      <th class="col-1">Rol</th>
                      <th class="col-1">Especialidad</th>
                      <th class="col-1">Teléfono</th>
                      <!-- <th class="col-1">Id Usuario Creador</th> -->
                      <th class="col-1">Creado por</th>
                      <th class="col-1">Fecha creación</th>
                      <th class="col-2">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let usuario of usuarios">
                      <!-- <th class="text-muted"><small><strong>{{ usuario.id }}</strong></small></th> -->
                      <td>{{ usuario.titulo }}</td>
                      <td>{{ usuario.nombre }} {{ usuario.apellidop }} {{ usuario.apellidom }}</td>
                      <td>{{ usuario.correo }}</td>
                      <td>{{ usuario.rol }}</td>
                      <td>{{ usuario.especialidad }}</td>
                      <td>{{ usuario.telefono }}</td>
                      <!-- <td>{{ usuario.id_usuario }}</td> -->
                      <td>{{ usuario.nombre_usuario_creador }}</td>
                      <td>{{ usuario.fecha_creacion }}</td>
                      <td class="text-center">
                          <button class="btn btn-outline-primary my-2 my-sm-0 btn-sm" (click)="selectedIdUser(usuario.id)"
                            ngbTooltip="Información del usuario">Detalle
                          </button>
                          <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm ml-2" (click)="deleteUser(usuario.id, usuario.correo)"
                            ngbTooltip="Eliminar completamente"> x
                          </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          
            </div>
            <ng-template #ver_mensaje>
          
              <div class="container mt-5">
                <div class="text-center">
                  <span>{{ mensajeRegistrarCentro }}</span>
                  <br>
                  <br>
                  <button *ngIf="!existeCentro" class="btn btn-outline-primary mb-2 me-2" routerLink="/perfil"> Ir a Mi Perfil </button>
                </div>
              </div>
          
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Nuevo Modal Crear Usuario -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nuevo usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-usuario-form></app-usuario-form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Cerrar')">Cerrar</button>
  </div>
</ng-template>