<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>
          Usuarios
        </h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
          <li class="breadcrumb-item"><a routerLink="/citas">Agenda</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <button class="btn btn-outline-primary btn-sm" (click)="irUsuarioForm()">
                <i class="fas fa-plus"></i> Agregar usuario 
              </button>
            </h3>
          </div>
          <div class="card-body">

            <div *ngIf="existenUsuarios; else ver_mensaje">
              <table class="table table-responsive table-hover table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="col-1">#</th> 
                    <th class="col-1 hide-on-mobile">Título</th>
                    <th class="col-1" (click)="onSortChange('nombre')">
                      Nombre(s)
                      <span *ngIf="orderBy === 'nombre' && way === 'asc'">▲</span>
                      <span *ngIf="orderBy === 'nombre' && way === 'desc'">▼</span>
                    </th>
                    <th class="col-1" (click)="onSortChange('apellidop')">
                      Ap. Paterno
                      <span *ngIf="orderBy === 'apellidop' && way === 'asc'">▲</span>
                      <span *ngIf="orderBy === 'apellidop' && way === 'desc'">▼</span>
                    </th>
                    <th class="col-1" (click)="onSortChange('apellidom')">
                      Ap. Materno
                      <span *ngIf="orderBy === 'apellidom' && way === 'asc'">▲</span>
                      <span *ngIf="orderBy === 'apellidom' && way === 'desc'">▼</span>
                    </th>
                    
                    <th class="col-1">Correo</th>
                    <th class="col-1">Rol</th>
                    <th class="col-1 hide-on-mobile">Especialidad</th>
                    <th class="col-1">Teléfono</th>
                    <!-- <th class="col-1">Id Usuario Creador</th> -->
                    <th class="col-1 hide-on-mobile">Creado por</th>
                    <!-- <th class="col-1">Fecha creación</th> -->
                    <th class="col-1">Detalle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <!-- <th class="text-muted"><small><strong>{{ usuario.id }}</strong></small></th> -->
                    <td scope="row" class="text-muted">{{ usuario.contador }}</td>
                    <td class="hide-on-mobile">{{ usuario.titulo }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellidop }}</td>
                    <td>{{ usuario.apellidom }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.desc_rol }}</td>
                    <td class="hide-on-mobile">{{ usuario.especialidad }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <!-- <td>{{ usuario.id_usuario }}</td> -->
                    <td class="hide-on-mobile">{{ usuario.nombre_usuario_creador }}</td>
                    <!-- <td> <small>{{ usuario.fecha_creacion }}</small> </td> -->
                    <td class="text-center">
                      
                      <button class="btn btn-outline-primary my-2 my-sm-0 btn-sm" (click)="selectedIdUser(usuario.id)"
                        ngbTooltip="Información del usuario"><i class="fas fa-info-circle"></i> Ver
                      </button>
                      <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm ml-2" (click)="deleteUser(usuario.id, usuario.correo)"
                        ngbTooltip="Eliminar usuario"><i class="fas fa-trash-alt"></i>
                      </button> -->
                  </td>
                  </tr>
                </tbody>
              </table>
              <div class="container">
                <div class="row">
                  <div class="col-sm-3 text-sm-end">
                    Mostrar:
                  </div>
                  <div class="col-sm-1">
                    <div class="d-inline">
                      <select class="form-select" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                      </select>
                    </div>
                  </div>
                
                  <div class="col-sm-5">
                    <ngb-pagination
                      [collectionSize]="totalElements"
                      [(page)]="currentPage"
                      [pageSize]="pageSize"
                      [maxSize]="5"
                      [rotate]="true"
                      (pageChange)="onPageChange($event)">
                      <ng-template ngbPaginationFirst>Primero</ng-template>
                      <ng-template ngbPaginationLast>Último</ng-template>
                      <ng-template ngbPaginationPrevious>Anterior</ng-template>
                      <ng-template ngbPaginationNext>Siguiente</ng-template>
                      <ng-template ngbPaginationEllipsis>...</ng-template>
                      <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                    </ngb-pagination>
                  </div>
                
                  <div class="col-sm-1">
                    <span>Total: <span class="text-muted">{{ totalElements }}</span></span>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #ver_mensaje>
          
              <div class="container">
                <div class="text-center">
                  <span>{{ mensaje }}</span>
                </div>
              </div>
          
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Nuevo Modal Crear Usuario -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nuevo usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-usuario-form></app-usuario-form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Cerrar')">Cerrar</button>
  </div>
</ng-template>