<div *ngIf="!centro; else main_content">
    <h5>Cargando...</h5>
</div>
<ng-template #main_content>

    <form [formGroup]="formularioCentro" class="card-body" >

        <div class="form-group">
            <small class="form-text text-muted">Nombre *</small>
            <input type="email" class="form-control" formControlName="nombre" [ngClass]="getInputClass('nombre')" placeholder="Ingresa el nombre de tu consultorio">
            <div *ngIf="formularioCentro.controls['nombre'].invalid && formularioCentro.controls['nombre'].dirty" class="invalid-input-message">
              <span *ngIf="formularioCentro.controls['nombre'].errors.required">{{ campoRequerido }}</span>
            </div>
        </div>
        <div class="form-group">
            <small class="text-muted">Teléfono *</small>
            <input type="text" class="form-control" formControlName="telefono" [ngClass]="getInputClass('telefono')" placeholder="Ingresa 10 dígitos" maxlength="10">
            <div *ngIf="formularioCentro.controls['telefono'].invalid && formularioCentro.controls['telefono'].dirty" class="invalid-input-message">
                <span *ngIf="formularioCentro.controls['telefono'].errors.pattern && !formularioCentro.controls['telefono'].errors.required">{{ soloNumeros }}</span> 
                <span *ngIf="formularioCentro.controls['telefono'].errors.required">{{ campoRequerido }}</span> 
                <span *ngIf="formularioCentro.controls['telefono'].errors.minlength">{{ telefonoLongitud }}</span> 
            </div>   
        </div>
        <div class="form-group">
            <small class="text-muted">Correo (opcional)</small>
            <input type="email" class="form-control" formControlName="correo" [ngClass]="getInputClass('correo')" placeholder="Ingresa un correo electrónico">
            <div *ngIf="formularioCentro.controls['correo'].invalid && formularioCentro.controls['correo'].dirty" class="invalid-input-message">
                <span *ngIf="formularioCentro.controls['correo'].errors.email">{{ correoValido }}</span>
            </div>
        </div>
        <div class="form-group">
            <small class="text-muted">Dirección / Domicilio *</small>
            <textarea class="form-control" formControlName="direccion" [ngClass]="getInputClass('direccion')" rows="2" maxlength="130"></textarea>
            <div *ngIf="formularioCentro.controls['direccion'].invalid && formularioCentro.controls['direccion'].dirty" class="invalid-input-message">
                <span *ngIf="formularioCentro.controls['direccion'].errors.required">{{ campoRequerido }}</span> 
            </div>
        </div>

        <div class="d-flex mt-2 ">
            <div></div>
            <div class="ml-auto">
                <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
            </div>
        </div>
                        
        <button type="submit" class="btn btn-primary btn-block mt-2" (click)="updateCentro()" [disabled]="formularioCentro.invalid">Guardar</button>
    </form>
    
</ng-template>