.accordion-button{
    background: #007bff !important;
}

.accordion-button:not(.collapsed) {
    color: rgb(255, 255, 255) !important;
    background-color: white;
}

.collapsed{
    background: #007bff !important;
}

.my-color{
    color: white !important;
}


.card-tools {
    margin: 0 -10px 0px !important;
}