<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>
          {{ tituloCard }}
        </h5>
      </div>
      <div class="col-sm-6 hide-on-mobile">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
          <li class="breadcrumb-item"><a routerLink="/agenda">Agenda</a></li>
          <li class="breadcrumb-item"><a routerLink="/pacientes">Pacientes</a></li>
          <li class="breadcrumb-item active">Expediente</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-datos-personales" data-toggle="pill" href="#tab-datos-personales"><i class="fas fa-user"></i> Datos personales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-tratamientos-realizados" data-toggle="pill" href="#tab-tratamientos-realizados"><i class="fas fa-tooth"></i> Tratamientos realizados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-historial-pagos" data-toggle="pill" href="#tab-historial-pagos"><i class="fas fa-dollar-sign"></i> Historial de pagos</a>
              </li>
            </ul>
            <div class="card-tools" style="margin-top: -35px;">
              <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div class="tab-pane fade show active" id="tab-datos-personales">
    
                <form [formGroup]="formularioPaciente" class="mt-1">
                  <div class="row">
                      <div class="col-sm">
                          <div class="form-group">
                              <span><strong> Nombre(s) * </strong></span>
                              <input type="text" class="form-control" formControlName="nombre" [ngClass]="getInputClass('nombre')" [class.sin-borde]="!editando" [readonly]="!editando">
    
                              <div *ngIf="formularioPaciente.controls['nombre'].invalid && formularioPaciente.controls['nombre'].dirty" class="invalid-input-message">
                                  <span *ngIf="formularioPaciente.controls['nombre'].errors.required">{{ campoRequerido }}</span>
                              </div>
                          </div>
                      </div>
              
                      <div class="col-sm">
                          <div class="form-group">
                              <span><strong> Apellido Paterno * </strong></span>
                              <input type="text" class="form-control" formControlName="apellidop" [ngClass]="getInputClass('apellidop')" [class.sin-borde]="!editando" [readonly]="!editando">
    
                              <div *ngIf="formularioPaciente.controls['apellidop'].invalid && formularioPaciente.controls['apellidop'].dirty" class="invalid-input-message">
                                  <span *ngIf="formularioPaciente.controls['apellidop'].errors.required">{{ campoRequerido }}</span>
                              </div>
                          </div>
                      </div>
    
                      <div class="col-sm">
                          <div class="form-group">
                              <span class="text-muted">Apellido Materno </span>
                              <input type="text" class="form-control" formControlName="apellidom" [class.sin-borde]="!editando" [readonly]="!editando">
                              <div *ngIf="formularioPaciente.controls['apellidom'].invalid" class="invalid-input-message">
                                  <span *ngIf="formularioPaciente.controls['apellidom'].errors.invalidRegex">{{ soloLetras }}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="row">
                      <div class="col-sm">
                          <div class="form-group">
                              <span class="text-muted">Edad</span>
                              <input type="text" class="form-control" formControlName="edad" maxlength="3" [class.sin-borde]="!editando" [readonly]="!editando">
                              <div *ngIf="formularioPaciente.controls['edad'].invalid" class="invalid-input-message">
                                  <span *ngIf="formularioPaciente.controls['edad'].errors">{{ soloNumeros }}</span>
                              </div>
                          </div>
                      </div>
    
                      <div class="col-sm">
                          <div class="form-group">
                              <span class="text-muted">Género </span>
                              <select class="form-select" formControlName="sexo" [class.sin-borde]="!editando" [disabled]="!editando">
                                  <option selected disabled [value]="0">Selecciona una opción:</option>
                                  <option *ngFor="let item of catSexo" [value]="item.id">{{ item.descripcion }}</option>
                              </select>
                          </div>
                      </div>
              
                      <div class="col-sm">
                          <div class="form-group">
                              <span><strong>Teléfono * </strong></span>
                              <input type="text" class="form-control" formControlName="telefono" [ngClass]="getInputClass('telefono')" placeholder="10 dígitos" maxlength="10" [class.sin-borde]="!editando" [readonly]="!editando">
                              <div *ngIf="formularioPaciente.controls['telefono'].invalid && formularioPaciente.controls['telefono'].dirty" class="invalid-input-message">
                                  <div>
                                      <span *ngIf="formularioPaciente.controls['telefono'].errors.pattern && !formularioPaciente.controls['telefono'].errors.required">{{ soloNumeros }}</span> 
                                  </div>
                                  <div>
                                      <span *ngIf="formularioPaciente.controls['telefono'].errors.minlength">{{ telefonoLongitud }}</span> 
                                  </div>
                              </div> 
                          </div>
                      </div>
                      <div class="col-sm">
                          <div class="form-group">
                              <span class="text-muted">Correo</span>
                              <input type="email" class="form-control" formControlName="correo" [ngClass]="getInputClass('correo')" placeholder="ejemplo@correo.com" [class.sin-borde]="!editando" [readonly]="!editando">
                              <div *ngIf="formularioPaciente.controls['correo'].invalid && formularioPaciente.controls['correo'].dirty" class="invalid-input-message">
                                  <span *ngIf="formularioPaciente.controls['correo'].hasError('emailInvalido')">{{ correoValido }}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm">
                          <div class="form-group">
                              <span class="text-muted">Dirección</span>
                              <input type="email" class="form-control" formControlName="direccion" [class.sin-borde]="!editando" [readonly]="!editando">
                          </div>
                      </div>
                  </div>
                  <hr/>
    
                  <div *ngIf="!editando" class="card-header p-0 border-bottom-0">
                    <small class="text-muted">Creado por:</small>
                    <small class="text-muted"> {{ nombre_usuario_creador }} </small>
                    <div class="card-tools">
                      <button class="btn btn-outline-primary" (click)="editando = true"> <i class="nav-icon fas fa-edit"></i> Editar</button>
                    </div>
    
                    <br>
                    <small class="text-muted">Fecha de creación:</small>
                    <small class="text-muted"> {{ fecha_creacion }} </small>
                  </div>
    
                  <div *ngIf="editando">
                    <div class="card-header p-0 border-bottom-0">
                      <small *ngIf="rol=='suadmin' || rol=='sop'" class="text-muted">Borrar paciente</small>
                      <div class="card-tools">
                        <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
                      </div>
                    </div>
    
                    <div class="card-header p-0 border-bottom-0">
                      <button *ngIf="rol=='suadmin' || rol=='sop'" class="btn btn-outline-secondary mt-2" 
                          (click)="deletePaciente(paciente.id, paciente.nombre, paciente.apellidop)" 
                          ngbTooltip="Eliminar paciente de forma permanente">
                        <i class="fas fa-trash-alt"></i> Borrar
                      </button>
    
                      <div class="card-tools">
                        <button type="button" class="btn btn-outline-secondary mr-3" (click)="editando = false">
                          Cancelar
                        </button>
                        <button type="button" class="btn btn-primary" (click)="actualizarPaciente()" [disabled]="formularioPaciente.invalid">
                          <i class="fas fa-save"></i> Guardar
                        </button>
                      </div>
                    </div>
                  </div>
    
                </form>
    
              </div>
              <div class="tab-pane fade" id="tab-tratamientos-realizados">
                <h2>Tratamientos Realizados</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Descripción del Tratamiento</th>
                                <th scope="col">Dentista</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Asumiendo que "tratamientos" es un array de objetos con información del tratamiento -->
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-info">Ver Detalles</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              <div class="tab-pane fade" id="tab-historial-pagos">
                5
              </div>
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card-header">
            <h5> <a class="link-opacity-100 cursor-pointer" (click)="selectedIdPaciente(paciente.id)"><u>Diagnóstico y tratamiento</u></a></h5>
          </div>
        </div>


        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><i class="far fa-calendar-alt"></i> Visitas</h3>
        
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
        
          </div>
          <div class="card-body">
            
            <div *ngIf="citas">
              <div *ngFor="let cita of citas">
                <span> {{ cita.titulo }} / {{cita.motivo}} / {{ cita.fecha_hora_inicio}}</span>
              </div>
            </div>
        
            
          </div>
        </div>

      </div>
    </div>
  </div>
</section>