
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            Información del paciente
          </h5>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/calendario">Calendario</a></li>
            <li class="breadcrumb-item"><a routerLink="/citas">Agenda</a></li>
            <li class="breadcrumb-item"><a routerLink="/pacientes">Pacientes</a></li>
            <li class="breadcrumb-item active">Detalle</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" *ngIf="!editando">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                {{ tituloCard }}
              </h3>
              <div class="card-tools">
                <button class="btn btn-light btn-sm" (click)="editando = true"> <i class="nav-icon fas fa-edit"></i> Editar</button>
              </div>
            </div>
            <div class="card-body">

                <div class="container">
                    <form [formGroup]="formularioPaciente">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Nombre(s)</small>
                                    <input type="text" class="form-control sin-borde" formControlName="nombre" readonly>
                                </div>
                            </div>
                    
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Apellido Paterno</small>
                                    <input type="text" class="form-control sin-borde" formControlName="apellidop" readonly>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Apellido Materno </small>
                                    <input type="text" class="form-control sin-borde" formControlName="apellidom" readonly>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Edad</small>
                                    <input type="text" class="form-control sin-borde" formControlName="edad" readonly>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Sexo</small>
                                    <input type="text" class="form-control sin-borde" formControlName="sexo" readonly>
                                </div>
                            </div>
                    
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Teléfono</small>
                                    <input type="text" class="form-control sin-borde" formControlName="telefono" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Correo</small>
                                    <input type="email" class="form-control sin-borde" formControlName="correo" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Dirección</small>
                                    <input type="email" class="form-control sin-borde" formControlName="direccion" readonly>
                                </div>
                            </div>
                        </div>
                        <hr/> 
                        <div class="row">
                            <div class="col-sm">
                                <!-- <small class="text-muted">Id de usuario:</small> -->
                                <!-- <small class="text-muted"> {{ idUsuario }} </small> <br> -->
                                <small class="text-muted">Fecha de creación:</small>
                                <small class="text-muted"> {{ fecha_creacion }} </small> <br>
                                <small class="text-muted">Creado por:</small>
                                <small class="text-muted"> {{ nombre_usuario_creador }} </small>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>





<section class="content" *ngIf="editando">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                {{ tituloCard }}
              </h3>
              <div class="card-tools">
                <button class="btn btn-light btn-sm" (click)="editando = false">Cancelar</button>
              </div>
            </div>
            <div class="card-body">

                <div class="container">
                    <form [formGroup]="formularioPaciente">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted"><strong> Nombre(s) * </strong></small>
                                    <input type="text" class="form-control" formControlName="nombre" [ngClass]="getInputClass('nombre')">

                                    <div *ngIf="formularioPaciente.controls['nombre'].invalid && formularioPaciente.controls['nombre'].dirty" class="invalid-input-message">
                                        <span *ngIf="formularioPaciente.controls['nombre'].errors.required">{{ campoRequerido }}</span>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted"><strong> Apellido Paterno * </strong></small>
                                    <input type="text" class="form-control" formControlName="apellidop" [ngClass]="getInputClass('apellidop')">

                                    <div *ngIf="formularioPaciente.controls['apellidop'].invalid && formularioPaciente.controls['apellidop'].dirty" class="invalid-input-message">
                                        <span *ngIf="formularioPaciente.controls['apellidop'].errors.required">{{ campoRequerido }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Apellido Materno </small>
                                    <input type="text" class="form-control" formControlName="apellidom">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Edad</small>
                                    <input type="text" class="form-control" formControlName="edad" maxlength="3">
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Sexo</small>
                                    <input type="text" class="form-control" formControlName="sexo">
                                </div>
                            </div>
                    
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted"><strong>Teléfono * </strong></small>
                                    <input type="text" class="form-control" formControlName="telefono" [ngClass]="getInputClass('telefono')" placeholder="10 dígitos" maxlength="10">
                                    <div *ngIf="formularioPaciente.controls['telefono'].invalid && formularioPaciente.controls['telefono'].dirty" class="invalid-input-message">
                                        <div>
                                            <span *ngIf="formularioPaciente.controls['telefono'].errors.pattern && !formularioPaciente.controls['telefono'].errors.required">{{ soloNumeros }}</span> 
                                        </div>
                                        <div>
                                            <span *ngIf="formularioPaciente.controls['telefono'].errors.minlength">{{ telefonoLongitud }}</span> 
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Correo</small>
                                    <input type="email" class="form-control" formControlName="correo" [ngClass]="getInputClass('correo')" placeholder="Ingresa un correo electrónico">
                                    <div *ngIf="formularioPaciente.controls['correo'].invalid && formularioPaciente.controls['correo'].dirty" class="invalid-input-message">
                                        <span *ngIf="formularioPaciente.controls['correo'].errors.email">{{ correoValido }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <small class="text-muted">Dirección</small>
                                    <input type="email" class="form-control" formControlName="direccion">
                                </div>
                            </div>
                        </div>
                        <hr/> 
                        <div class="row">
                            <div class="col-sm">
                                <!-- <small class="text-muted">Id de usuario:</small> -->
                                <!-- <small class="text-muted"> {{ idUsuario }} </small> <br> -->
                                <small class="text-muted">Fecha de creación:</small>
                                <small class="text-muted"> {{ fecha_creacion }} </small> <br>
                                <small class="text-muted">Creado por:</small>
                                <small class="text-muted"> {{ nombre_usuario_creador }} </small>
                            </div>
                        </div>
                        <hr/> 
                        <div class="d-flex mt-2">
                            <div>
                                <small *ngIf="rol=='suadmin' || rol=='sop'" class="text-muted">Eliminar usuario</small>
                            </div>
                            <div class="ml-auto">
                                <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
                            </div>
                        </div>

                        <div class="d-flex mt-2 ">
                            <div>
                                <button *ngIf="rol=='suadmin' || rol=='sop'" class="btn btn-outline-secondary my-2 my-sm-0 btn-sm ml-2" (click)="deletePaciente(paciente.id, paciente.nombre, paciente.apellidop)" 
                                    ngbTooltip="Eliminar paciente de forma permanente"><i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                            <div class="ml-auto">
                               <button type="submit" class="btn btn-primary btn-block" (click)="actualizarPaciente()" [disabled]="formularioPaciente.invalid">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</section> 