.my-mt {
    margin-top: 15px;
}

.alert {
  height: 30px !important;
}

.table-success {
  --bs-table-color: #fff !important;
  --bs-table-bg: #1bb770 !important;
}

.table-success td, .table-success th, .table-success thead th {
  border-color: #ffffff !important;
}

/*.alert-secondary{
  background-color: #f3f3f3 !important;
    color: #000 !important;
    border-color: #e7e7e7 !important;
}*/

/* Agrega estilos para el contenedor de la tabla */
.table-container {
  max-height: 215px; 
  overflow-y: auto;
  position: absolute;
  width: 99%;
  z-index: 1;
  cursor: pointer;

  /* Estilo para el scroll en navegadores basados en Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Estilo para el scroll en navegadores basados en WebKit (Chrome, Safari) */
.table-container::-webkit-scrollbar {
  width: 8px; /* Ajusta el ancho del scroll según tus preferencias */
}

/* Estilo para el mango del scroll en navegadores basados en WebKit */
.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px; /* Ajusta la curvatura del mango del scroll */
}

/* Cambia el color del mango del scroll cuando se pasa sobre él en navegadores basados en WebKit */
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Cambia el color del mango del scroll cuando se pasa sobre él en navegadores basados en Firefox */
.table-container:hover {
  scrollbar-color: #555 #f1f1f1;
}