<div class="modal-header my-bg">
  <h5><strong> Nueva cita </strong></h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body my-bg">

  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <span class="text-muted">Buscar paciente</span>
        <i class="fas fa-info-circle cursor-pointer text-muted ml-1" 
          triggers="click" [autoClose]="'outside'" placement="end" 
          ngbTooltip="Buscar pacientes existentes"></i>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" [(ngModel)]="query" (input)="buscarPacientes()" class="form-control" placeholder="Buscar por nombre o apellidos...">
        </div>

        <div class="floating-component">
          <div class="table-container" *ngIf="mostrarTablaResultados">
            <table class="table table-bordered table-info">
              <tbody>
                <tr *ngFor="let paciente of pacientes" (click)="seleccionarPaciente(paciente.id, paciente.nombre, paciente.apellidop, paciente.apellidom, paciente.edad, paciente.telefono)">
                  <td>{{ paciente.nombre }} {{ paciente.apellidop }} {{ paciente.apellidom }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
            <span><strong class="text-muted"> Nombre(s) * </strong></span>
            <input type="text" class="form-control" [(ngModel)]="nombrePaciente" (ngModelChange)="validaNombre()">
            <div *ngIf="mostrarMensajeNombre" class="invalid-input-message">{{ campoRequerido }}</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <span><strong class="text-muted"> Ap. Paterno * </strong></span>
            <input type="text" class="form-control" [(ngModel)]="apellidoPaternoPaciente" (ngModelChange)="validaApPaterno()">
            <div *ngIf="mostrarMensajeApPaterno" class="invalid-input-message">{{ campoRequerido }}</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <span> <small>Ap. Materno (opcional)</small></span>
            <input type="text" class="form-control" [(ngModel)]="apellidoMaternoPaciente" >
        </div>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <span> <small>Edad (opcional)</small></span>
          <input type="text" class="form-control" [(ngModel)]="edadPaciente" maxlength="3">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <span><strong class="text-muted"> Teléfono * </strong></span>
            <input type="text" class="form-control" [(ngModel)]="telefonoPaciente" (ngModelChange)="validaTelefono()" maxlength="10" placeholder="10 dígitos">
            <div *ngIf="mostrarMensajeTelefono" class="invalid-input-message">{{ soloNumeros }}</div>
        </div>
      </div>

      
      <div class="col-sm-6">
        <div class="form-group">
          <span><strong class="text-muted"> Motivo * </strong></span>
            <input type="text" class="form-control" placeholder="Ej. Consulta" [(ngModel)]="motivo" (ngModelChange)="validaMotivo()">
            <div *ngIf="mostrarMensajeMotivo" class="invalid-input-message">{{ campoRequerido }}</div>
        </div>
      </div>
      <!-- <div class="col-sm"></div> -->
    </div>
    <div class="row">
        <div class="col-sm my-mt">
            <span><strong class="text-muted"> Fecha y hora de inicio * </strong></span>
            <div class="input-group">
                <input
                  class="form-control"
                  placeholder="aaaa-mm-dd"
                  name="dp1"
                  [(ngModel)]="fechaModelInicio"
                  (ngModelChange)="validarFechaInicio()"
                  ngbDatepicker
                  #d1="ngbDatepicker" 
                  readonly
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
              <div *ngIf="mostrarMensajeFechaInicio" class="invalid-input-message">{{ fechaRequerida }}</div>
              
        </div>
        <div class="col-sm">
    
            <div class="form-group">
                <!-- <pre>Selected time: {{selectedTimeInicio | json}}</pre> -->
                <ngb-timepicker [(ngModel)]="selectedTimeInicio" [meridian]="true" (ngModelChange)="validaHoraInicio()"></ngb-timepicker>
                <div *ngIf="mostrarMensajeHoraInicio" class="invalid-input-message">{{ horarioValido }}</div>
            </div>
            
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm my-mt">
            <small>Fecha y hora de termino (opcional )</small>
            <i class="fas fa-info-circle cursor-pointer text-muted ml-1" 
              triggers="click" [autoClose]="'outside'" placement="end" 
              ngbTooltip="De no seleccionar esta opción, la cita será de 1 hora"></i>
            <div class="input-group">
                <input
                  class="form-control"
                  placeholder="aaaa-mm-dd"
                  name="dp2"
                  [(ngModel)]="fechaModelFin"
                  ngbDatepicker
                  #d2="ngbDatepicker" 
                  readonly
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
        </div>
        <div class="col-sm">
    
            <div class="form-group">
                <ngb-timepicker [(ngModel)]="selectedTimeFin" [meridian]="true"></ngb-timepicker>
            </div>
            <!-- <pre>Selected time: {{selectedTimeFin | json}}</pre> -->
            
        </div>
        <!-- <div class="form-group">
          <small>Nota / comentarios</small>
          <textarea class="form-control"  rows="2" maxlength="130" [(ngModel)]="nota"></textarea>
        </div> -->
    </div>
    <div class="row">
      <div class="d-flex mt-2">
        <div class="ml-auto">
            <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-2" (click)="crearCita()">Guardar</button>
    </div>

</div>

<ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>
