<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            
          </h5>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/calendario">Inicio</a></li>
            <li class="breadcrumb-item active">Cita</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-sm my-mt">
            <span class="text-muted"><strong> Fecha y hora de inicio * </strong></span>
            <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp1"
                  [(ngModel)]="model1"
                  ngbDatepicker
                  #d1="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
        </div>
        <div class="col-sm">
    
            <div class="form-group">
                <ngb-timepicker [(ngModel)]="selectedTimeInicio" [meridian]="true"></ngb-timepicker>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-sm my-mt">
            <span>Fecha y hora de termino (opcional)</span>
            <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp2"
                  [(ngModel)]="model2"
                  ngbDatepicker
                  #d2="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
        </div>
        <div class="col-sm">
    
            <div class="form-group">
                <ngb-timepicker [(ngModel)]="selectedTimeFin" [meridian]="true"></ngb-timepicker>
            </div>
            <pre>Selected time: {{selectedTimeFin | json}}</pre>
            
        </div>
    </div>
</div>
