<div class="col-lg-3 mx-auto text-center" style="margin-top: 80px;">

    <div *ngIf="!usuario; else main_content">
        <h5>Loading...</h5>
    </div>
    <ng-template #main_content>

        <div class="card">
            <div class="card-header"> <strong>Editar Usuario </strong> </div>
            <form class="card-body" (submit)="updateUsuario(correo, llave, rol)">

                <div class="form-group">
                    <small class="form-text text-muted">Correo</small>
                    <input type="text" class="form-control" [value]="usuario.correo" readonly #correo>
                </div>
    
                <div class="form-group">
                    <small class="form-text text-muted">Contraseña </small>
                    <input type="password" class="form-control" placeholder="Contraseña" [value]="usuario.llave" #llave>
                </div>
                
                <div class="form-group">
                    <small class="form-text text-muted">Rol</small>
                    <select class="form-control" id="rol" [value]="usuario.rol" #rol>
                        <option>admin</option>
                        <option>asistente</option>
                    </select>
                </div>
                
                <button class="btn btn-primary btn-block">
                    Actualizar Datos
                </button>
                <button class="btn btn-secondary btn-block" (click)="regresar()">
                    Cancelar
                </button>
            </form>

        </div>      
    </ng-template>

</div>
