
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            {{ tituloCard }}
          </h5>
        </div>
        <div class="col-sm-6 hide-on-mobile">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/medicos">Médicos</a></li>
            <li class="breadcrumb-item"><a routerLink="/usuarios">Usuarios</a></li>
            <li class="breadcrumb-item active">Usuario</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" *ngIf="!editando">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline">
            <div class="card-header">
              <div class="card-title">
                <h5>Información de usuario</h5>
              </div>
              <div class="card-tools">
                <!--  -->
              </div>
            </div>
            <div class="card-body">
                <form [formGroup]="formularioUsuario">
     
                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted">Correo</span>
                                <input type="email" class="form-control sin-borde" formControlName="correo" placeholder="ejemplo@correo.com" readonly>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted">Contraseña</span>
                                <input type="password" class="form-control sin-borde" formControlName="llave" placeholder="******" readonly>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted">Rol</span>
                                <input type="text" class="form-control sin-borde" value="{{descRol}}" readonly>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Título </span>
                                <select class="form-select sin-borde" formControlName="titulo" disabled>
                                    <option selected disabled [value]="null">Selecciona una opción:</option>
                                    <option *ngFor="let item of catTitulos" [value]="item.id">{{ item.titulo }} - {{ item.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted">Nombre (s)</span>
                                <input type="text" class="form-control sin-borde" formControlName="nombre" readonly>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted">Apellido Paterno</span>
                                <input type="text" class="form-control sin-borde" formControlName="apellidop" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Apellido Materno </span>
                                <input type="text" class="form-control sin-borde" formControlName="apellidom" readonly>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Especialidad </span>
                                <select class="form-select sin-borde" formControlName="especialidad" disabled>
                                    <option selected disabled [value]="null">Selecciona una opción:</option>
                                    <option *ngFor="let item of catEspecialidades" [value]="item.id">{{ item.especialidad }}</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Teléfono</span>
                                <input type="text" class="form-control sin-borde" formControlName="telefono" maxlength="10" readonly>
                            </div>
                        </div>
                
                    </div>
                    <hr/> 
                    <div class="row">
                        <div class="col-sm">
                            <small class="text-muted">Creado por: {{ nombre_usuario_creador }}</small>
                            <small class="text-muted"> | Fecha de creación: {{ fecha_creacion }}</small>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div *ngIf="mostrar_actualizacion">
                            <small class="text-muted">Actualizado por: {{ nombre_usuario_actualizo }}</small>
                            <small class="text-muted"> | Fecha actualización: {{ fecha_actualizacion }}</small>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-outline-secondary" (click)="editando = true" style="margin-top: -20px;"> 
                                <i class="nav-icon fas fa-edit"></i> Editar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>





<section class="content" *ngIf="editando">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Modificar...
              </h3>
              <div class="card-tools">
                <!--  -->
              </div>
            </div>
            <div class="card-body">
                <form [formGroup]="formularioUsuario">
     
                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <strong class="text-muted"> Correo * </strong>
                                <input type="email" class="form-control" formControlName="correo" [ngClass]="getInputClass('correo')" placeholder="ejemplo@correo.com" readonly>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <strong class="text-muted"> Contraseña * </strong>
                                <input type="password" class="form-control" formControlName="llave" [ngClass]="getInputClass('llave')" placeholder="******" readonly>
                                <a> <small class="text-primary" style="cursor: pointer;" (click)="selectedIdUser()">Cambiar contraseña...</small> </a>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <div class="form-group">
                                    <strong class="text-muted"> Rol * </strong>
                                    <ng-container *ngIf="mismoUsuario; else habilitado">
                                        <input type="text" class="form-control" value="{{descRol}}" readonly>
                                    </ng-container>
                                    <ng-template #habilitado>
                                        <select class="form-select" formControlName="rol">
                                            <option selected disabled [value]="null">Selecciona una opción:</option>
                                            <option *ngFor="let item of catRoles" [value]="item.id">{{ item.descripcion }}</option>
                                        </select>
                                    </ng-template>
                                </div>
                
                                <div *ngIf="formularioUsuario.controls['rol'].invalid && formularioUsuario.controls['rol'].dirty" class="invalid-input-message">
                                  <span *ngIf="formularioUsuario.controls['rol'].errors.required">{{ campoRequerido }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Título </span>
                                <select class="form-select" formControlName="titulo">
                                    <option selected disabled [value]="null">Selecciona una opción:</option>
                                    <option *ngFor="let item of catTitulos" [value]="item.id">{{ item.titulo }} - {{ item.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <strong> Nombre(s) * </strong>
                                <input type="text" class="form-control" formControlName="nombre" [ngClass]="getInputClass('nombre')" placeholder="">
                                <div *ngIf="formularioUsuario.controls['nombre'].invalid && formularioUsuario.controls['nombre'].dirty" class="invalid-input-message">
                                    <span *ngIf="formularioUsuario.controls['nombre'].errors.required">{{ campoRequerido }}</span> 
                                </div>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <strong> Apellido Paterno * </strong>
                                <input type="text" class="form-control" formControlName="apellidop" [ngClass]="getInputClass('apellidop')" placeholder="">
                                <div *ngIf="formularioUsuario.controls['apellidop'].invalid && formularioUsuario.controls['apellidop'].dirty" class="invalid-input-message">
                                    <span *ngIf="formularioUsuario.controls['apellidop'].errors.required">{{ campoRequerido }}</span> 
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Apellido Materno </span>
                                <input type="text" class="form-control" formControlName="apellidom" placeholder="">
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Especialidad </span>
                                <select class="form-select" formControlName="especialidad">
                                    <option selected disabled [value]="null">Selecciona una opción:</option>
                                    <option *ngFor="let item of catEspecialidades" [value]="item.id">{{ item.especialidad }}</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-sm">
                            <div class="form-group">
                                <span class="text-muted"> Teléfono</span>
                                <input type="text" class="form-control" formControlName="telefono" [ngClass]="getInputClass('telefono')" placeholder="10 dígitos" maxlength="10">
                                <div *ngIf="formularioUsuario.controls['telefono'].invalid && formularioUsuario.controls['telefono'].dirty" class="invalid-input-message">
                                    <div>
                                        <span *ngIf="formularioUsuario.controls['telefono'].errors.pattern && !formularioUsuario.controls['telefono'].errors.required">{{ soloNumeros }}</span> 
                                    </div>
                                    <div>
                                        <span *ngIf="formularioUsuario.controls['telefono'].errors.minlength">{{ telefonoLongitud }}</span> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <hr/> 
                    <div class="row">
                        <small class="text-muted">Creado por: {{ nombre_usuario_creador }} | Fecha de creación: {{ fecha_creacion }}</small>
                    </div>
                    <div *ngIf="mostrar_actualizacion" class="row">
                        <small class="text-muted">Actualizado por: {{ nombre_usuario_actualizo }} | Fecha actualización: {{ fecha_actualizacion }}</small>
                    </div>
                    <hr/> 
                    <div class="row">
                        <div class="d-flex">
                            <div *ngIf="!mismoUsuario">
                                <small *ngIf="rol=='suadmin' || rol=='sop'" class="text-muted">Eliminar usuario</small>
                            </div>
                            <div class="ml-auto">
                                <small class="text-muted">Los campos marcados con (*) son obligatorios</small>
                            </div>
                        </div>

                        <div class="card-header p-0 border-bottom-0 mt-2">
                            <ng-container *ngIf="!mismoUsuario">
                                <button *ngIf="rol=='suadmin' || rol=='sop'" class="btn btn-outline-secondary my-2 my-sm-0 ml-2" 
                                    (click)="deleteUser(usuario.id)" ngbTooltip="Eliminar usuario de forma permanente"><i class="fas fa-trash-alt"></i>
                                </button>
                            </ng-container>
                    
                            <div class="card-tools">
                                <button class="btn btn-outline-secondary mr-3" (click)="editando = false">Cancelar</button>
                                <button type="submit" class="btn btn-primary mr-3" (click)="actualizarUsuario()" [disabled]="formularioUsuario.invalid">Guardar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 
  
<ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "false"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>
