<div class="container-fluid">

    <div class="d-flex mt-2 ">
      <div>
        <h5 class="p-2">Lista de Centros / Consultorios</h5>
      </div>
      <div class="ml-auto">
        <!-- <button class="btn btn-primary my-2 my-sm-0" routerLink="/centro-form">Nuevo Centro Dental</button> -->
      </div>
    </div>
  
      <table class="table table-hover table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Correo</th>
              <th scope="col">Dirección</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Id Usuario</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let centro of centros?.reverse()">
              <th class="text-muted"><small><strong>{{ centro.id }}</strong></small></th>
              <td>{{ centro.nombre }}</td>
              <td>{{ centro.telefono }}</td>
              <td>{{ centro.correo }}</td>
              <td>{{ centro.direccion }}</td>
              <td>{{ centro.fecha_creacion }}</td>
              <td class="text-muted"><small>{{ centro.id_usuario }}</small></td>
              <td class="text-center">
                  <button class="btn btn-outline-primary my-2 my-sm-0 btn-sm" (click)="selectedIdUser(centro.id)">Editar</button>
                  <button class="btn btn-outline-danger my-2 my-sm-0  btn-sm ml-2" (click)="deleteCentro(centro.id, centro.nombre)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
  
  </div>
  