/* You can add global styles to this file, and also import other style files */

.invalid-input {
    border: 1px solid #ff7a7a !important;
}

.invalid-input-message {
    font-size: 13px;
    color: #ff7a7a;
    padding-left: 1px;
}

.sin-borde{
    /*border: 0 !important;
    background: #f8f9fa !important;*/
    color: #007bff !important;
    font-weight: 500 !important;
}

/* Modal de Ng-Modal */
.modal-backdrop {
    z-index: 1040 !important; /* Asegúrate de que sea menor que el z-index del modal-window */
}
/* Asegurar el full scream, sólo para la case full scream */
@media (min-width: 576px) {
    .modal-fullscreen {
        max-width: none !important;
        width: 100vw !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}


.cursor-pointer{
    cursor: pointer;
}


/****************************/

@media only screen and (max-width: 600px) {

    .hide-on-mobile{
        display: none;
    }

    .show-on-mobile{
        display: block !important;
    }

    .table-responsive{
        display: none !important;
    }
}


/* Calendar */

:root {
    --fc-button-bg-color: #007bff;
    --fc-button-border-color: #ffffff;

    --fc-button-hover-bg-color: #0064cf;
    --fc-button-hover-border-color: #0064cf;

    --fc-button-active-bg-color: #004889;
    --fc-button-active-border-color: #007fff;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
    width: 13px; /* Ancho total del scrollbar incluyendo "margen" */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
}


/* estilo para las tablas */

.table-responsive {
    /*display: inline-table !important;*/
    border-collapse: separate !important;
    border-spacing: 3px !important;
}

.table-responsive thead {
    color: white !important;
    /*background-color: #0472c9 !important;*/
    background-color: #3f9ffb;
    height: 50px !important;
}

/*.table-striped tbody tr:nth-child(odd) {
    background-color: #f0f8ff !important;
}*/

.table-hover tbody tr:hover {
    color: #000000 !important;
    background-color: #acdaff !important;
}

.primer-columna{
    width: 3% !important;
}


/* input deshabilitado */

.form-control:disabled, .form-control[readonly] {
    /*background-color: #e9ecef;*/
    background-color: #e9ecef7d !important;
    color: #1a1a1a !important;
}

/*.dark-mode a {
    color: #ff0404 !important;
}*/