/* You can add global styles to this file, and also import other style files */

.invalid-input {
    border: 1px solid #ff7a7a !important;
}

.invalid-input-message {
    font-size: 13px;
    color: #ff7a7a;
    padding-left: 1px;
}

.sin-borde{
    /*border: 0 !important;
    background: #f8f9fa !important;*/
    color: #007bff !important;
    font-weight: 500 !important;
}

/* Modal de Ng-Modal */
.modal-backdrop {
    z-index: 1040 !important; /* Asegúrate de que sea menor que el z-index del modal-window */
}
/* Asegurar el full scream, sólo para la case full scream */
@media (min-width: 576px) {
    .modal-fullscreen {
        max-width: none !important;
        width: 100vw !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}


.cursor-pointer{
    cursor: pointer;
}


/****************************/

@media only screen and (max-width: 600px) {

    .hide-on-mobile{
        display: none;
    }

    .show-on-mobile{
        display: block !important;
    }

    .table-responsive{
        display: none !important;
    }
}


/* Calendar */

:root {
    --fc-button-bg-color: #007bff;
    --fc-button-border-color: #ffffff;

    --fc-button-hover-bg-color: #0064cf;
    --fc-button-hover-border-color: #0064cf;

    --fc-button-active-bg-color: #004889;
    --fc-button-active-border-color: #007fff;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
    width: 13px; /* Ancho total del scrollbar incluyendo "margen" */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /*background: #c1c1c1;*/
    background: #4c658d !important;
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
}


/* estilo para las tablas */

.table-responsive {
    /*display: inline-table !important;*/
    border-collapse: separate !important;
    border-spacing: 3px !important;
}

.table-responsive thead {
    color: white !important;
    /*background-color: #0472c9 !important;*/
    background-color: #3f9ffb;
    height: 50px !important;
}

/*.table-striped tbody tr:nth-child(odd) {
    background-color: #f0f8ff !important;
}*/

.table-hover tbody tr:hover {
    color: #000000 !important;
    background-color: #acdaff !important;
}

.primer-columna{
    width: 3% !important;
}


/* input deshabilitado general */

.form-control:disabled, .form-control[readonly] {
    /*background-color: #e9ecef;*/
    background-color: #e9ecef7d !important;
    color: #7f7f7f !important;
    border-color: #f1f1f1   !important;
}

.form-select:disabled {
    background-color: #e9ecef7d !important;
    color: #7f7f7f !important;
    border-color: #f1f1f1   !important;
}

/* Modo oscuro **********************************************/

.dark-mode a {
    color: #ffffff !important;
}

.dark-mode .fc-theme-standard .fc-list-day-cushion {
    background-color: #46668f !important;
}

.dark-mode .navbar-white {
    background-color: #1f2020 !important;
}

.dark-mode .nav-link{
    color: #03a9f4 !important;
}

.dark-mode .btn-primary {
    background-color: #3087cd !important;
    border-color: #3087cd !important;
}

.dark-mode .btn-outline-primary {
    color: #569ef7 !important;
    border-color: #569ef7 !important;
}


.dark-mode .table-responsive thead {
    color: white !important;
    background-color: #3087cd;
    height: 50px !important;
}

.dark-mode .table-hover tbody tr:hover {
    color: #03a9f4 !important;
    background-color: #505f75 !important;
}

.dark-mode .form-control{
    /*background: #343a40 !important;*/
    border-color: #6c757d  !important;
    color: white  !important;
    font-family: cursive !important;
    font-size: large !important;
}

.dark-mode .form-select{
    /*background: #343a40 !important;*/
    border-color: #6c757d  !important;
    color: white  !important;
    font-family: cursive !important;
    font-size: medium !important;
}


/* Modo claro ************************************************ /

    /* columna titulo agenda */
.fc-theme-standard .fc-list-day-cushion {
    background-color: #e9f2f9 !important
}

    /* dia hoy del calendario */
.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(255 213 0 / 30%) !important;
}

.form-control{
    /*background: #eef7fe !important;*/
    border-color: #84bfff  !important;
    color: #005fde  !important;
    font-family: cursive !important;
    font-size: large !important;
}

.form-select{
    /*background: #eef7fe !important;*/
    border-color: #84bfff  !important;
    color: #005fde  !important;
    font-family: cursive !important;
    font-size: medium !important;
}


/* Alert */

.alert-warning{
    color: #4f4f4f  !important;
    background-color: #ffe8a3  !important;
    border-color: #edb100 !important;
}




/* Separador con texto*/

.separator {
    position: relative;
    text-align: center;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
  }
  
  .separator hr {
    border: 0;
    border-top: 1px solid #000; /* Color y grosor de la línea */
    margin: 0;
  }
  
  .separator-text {
    position: absolute;
    top: -0.6em; /* Ajusta la posición vertical del texto */
    left: 50%;
    transform: translateX(-50%);
    background: #fff; /* Fondo blanco para cubrir la línea */
    padding: 0 10px; /* Espacio alrededor del texto */
    font-size: 14px; /* Ajusta el tamaño del texto */
    color: #000; /* Color del texto */
  }


  /*************** Buttons ***************/
.btn-success{
    background-color: #10a37f !important;
    border-color: #12b78f !important;
}