#oopss {
    background: linear-gradient(-45deg, #00a1ff, #00a1ff);
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
  }


/*======================
    404 page
=======================*/


.page_404{ 
    padding:40px 0; 
    background:#4ea7c1; 
    position: fixed;
    /*left: 0px;
    top: 0;*/
    width: 100%;
    height: 100%;
    /*line-height: 1.5em;
    z-index: 9999;*/
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 /*background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);*/
    background-image: url(../../../assets/images/404.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
    font-size:80px;
 }
 
 .four_zero_four_bg h3{
    font-size:80px;
 }

 .link_404{			 
    color: #00a1ff!important;
    padding: 10px 20px;
    background: #fff;
    margin: 20px 0;
    display: inline-block;
 }

 .contant_box_404{ 
    margin-top:-50px;
}
    
 
.mb{
    margin-bottom: 10px !important;
}