<div class="modal-header my-bg">
    <strong> {{ title }}</strong>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body my-bg">

    <!-- <div class="card-body"> -->
        <span><strong class="text-info"> Paciente: {{ data.nombre_paciente }}</strong></span>
        <br>
        <br>
        <span><strong class="text-muted">Inicia:</strong> {{ inicio }}</span>
        <br>
        <span><strong class="text-muted">Termina:</strong> {{ fin }}</span>
        <hr/>
        <p><strong class="text-muted">Motivo:</strong> {{ data.motivo }}</p>
        <p><strong class="text-muted">Notas:</strong> {{ data.notas }}</p>
        <hr/>
        <small class="text-muted"><strong>Creado por:</strong> {{ data.nombre_usuario_creador }}</small>
        <br>
        <small class="text-muted"><strong>Fecha creación:</strong> {{ data.fecha_creacion }}</small>
    <!-- </div> -->

    <hr/>
    <div class="d-flex mt-2 ">
      <div>
          <a><small class="text-danger cursor-pointer" ngbTooltip="Eliminar cita de forma permanente" (click)="eliminarCita()"> Eliminar</small> </a>
      </div>
      <div class="ml-auto">
         <button class="btn btn-outline-primary btn-sm" (click)="editarCita()"> <i class="nav-icon fas fa-edit"></i> Editar</button>
      </div>
    </div>

   </div>
