<div class="modal-header">
    <strong class="my-txt-color"> {{ title }}</strong>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- <div class="card-body"> -->
      <div class="row" *ngIf="mostrarPaciente">
        <div class="col-sm-3">
          <span class="text-muted">Paciente: </span>
        </div>
        <div class="col-sm-9 text-center">
          <strong class="text-primary">{{data.nombre_paciente}}</strong>
        </div>
      </div>

        <div class="row mt-2">
          <div class="col-sm-3">
            <span class="text-muted">Inicia: </span>
          </div>
          <div class="col-sm-9 text-center">
            <h5><strong class="text-primary">{{inicio}}</strong></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <span class="text-muted">Termina: </span>
          </div>
          <div class="col-sm-9 text-center">
            <strong class="text-primary">{{fin}}</strong>
          </div>
        </div>
        <hr/>
        <div class="row" *ngIf="mostrarMotivo">
          <div class="col-sm-3">
            <span class="text-muted">Motivo: </span>
          </div>
          <div class="col-sm-9 text-center">
            <strong class="text-primary">{{data.motivo}}</strong>
          </div>
        </div>
        <div class="row" *ngIf="!mostrarMotivo">
          <div class="col-sm-3">
            <span class="text-muted">Notas: </span>
          </div>
          <div class="col-sm-9 text-center">
            <strong class="text-primary">{{data.notas}}</strong>
          </div>
        </div>
        
        <hr/>
        <small class="text-muted"><strong>Creado por:</strong> {{ data.nombre_usuario_creador }}</small>
        <br>
        <small class="text-muted"><strong>Fecha creación:</strong> {{ data.fecha_creacion }}</small>
    <!-- </div> -->

    <hr/>
    <div class="d-flex mt-2 ">
      <div>
          <a><small class="text-danger cursor-pointer" ngbTooltip="Eliminar cita de forma permanente" (click)="eliminarCita()"> Eliminar</small> </a>
      </div>
      <div class="ml-auto">
         <button *ngIf="mostrarBotonEditar" class="btn btn-outline-primary btn-sm" (click)="editarCita()"> <i class="nav-icon fas fa-edit"></i> Editar</button>
      </div>
      <div class="ml-auto">
        <button *ngIf="mostrarBotonEditar" class="btn btn-outline-success btn-sm" (click)="atenderPaciente(data.id_paciente)"> <i class="far fa-hand-paper"></i> Atender</button>
     </div>
    </div>

   </div>

   <ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "large" color = "#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando, por favor espere... </p></ngx-spinner>
